:root {
  --text-color: #080808;
  --text-placeholder-color: rgb(107, 107, 107);
  --main-color: rgb(0, 106, 255);
  --main-color-white: rgb(198, 219, 248);
  --main-color-dark: rgb(0, 93, 223);
  --main-color-dark2: rgb(8, 25, 61);
  --bg-color: rgb(243, 246, 248);
  --bg-color2: rgba(187, 222, 245, 0.791);
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  /* background-image: url(https://img.freepik.com/free-vector/hand-drawn-international-cat-day-background_23-2149487429.jpg?w=1800&t=st=1695972910~exp=1695973510~hmac=84edfe27c8c7885e45a5110c2a2bdce7249ca0ca4f3599dbfebf6400eb841de7); */
  /* background-repeat: repeat; */
}

.container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  transition: 0.3s;
  width: 54rem;
  height: 100vw;
  margin: auto;
  padding-top: 5rem;
}

/* <-- NAV --> */
.nav {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.134);

  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

/* ================ LEFT ================== */
.navlink-left {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: var(--text-placeholder-color);
  margin: 0 1rem;
}

.navlink-logo {
  transition: 0.3s;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: var(--text-color2);
  margin: 0 1rem;
}

.navlink-left:focus {
  color: var(--text-color);
}
.navlink-left:hover {
  color: var(--text-color);
}

.letter-blue {
  color: var(--main-color);
}
/* ================ /LEFT ================== */

/* ================ Right ================== */

/* .nav-right {
  display: flex;
  flex-direction: row;
} */
.nav-profile {
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-right: 1rem;
}

#nav-profile-img {
  margin: 1rem 1rem 0 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}

.navlink-right {
  text-decoration: none;
  background-color: white;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: var(--text-color);
  margin: 0 0.1rem;
  padding: 0.4rem;
  border: solid var(--main-color) 0.1rem;
  border-radius: 0.6rem;
  height: fit-content;
}

.navlink-right:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.651);
}

.navlink-right:active {
  border: solid transparent 0.1rem;
  background-color: var(--main-color);
  color: white;
  transition: 0.2s;
}

.navlink-right:focus {
  background-color: var(--main-color);
  color: white;
  transition: 0.2s;
}
/* ================ /Right ================== */

.drawer {
  font-size: 1rem;
  cursor: pointer;
  display: none;
}
#drawer {
  display: none;
}

/* ========== Create post =========== */
#create-post {
  margin: 0 3rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.134);
}
#create-post form {
  padding: 1.5rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
#create-post button {
  font-weight: 600;
  width: fit-content;
  right: 0;
  text-align: start;
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem 1.5em;
  border-radius: 0.4rem;
  margin-right: 1rem;
}
#create-post button:hover {
  transition: 0.5s;
  background-color: var(--main-color-dark);
}
.hix-align-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.create-post-input {
  font-size: 0.8rem;
  margin: 0.5rem;
  background-color: var(--bg-color);
  border: none;
  border-radius: 0.6rem;
  padding: 0.8rem 0.6rem;
}

#create-post-img {
  margin: 1rem 0.5rem 0.4rem 0.5rem;
}

#create-post-body {
  resize: none;
}

/* ========== /Create post =========== */

/* --------------- Card Post --------------- */
#posts-container {
  padding-bottom: 1rem;
}
.post {
  margin: 0 3rem;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.134);
}

.post:last-child {
  margin-bottom: 1rem;
}

.post-head {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.post-head-info {
  display: flex;
  flex-direction: column;
}

.post-head-info h3 {
  margin: 1rem 0 0.5rem 0;
}
.post-head-info p {
  margin: 0;
  color: var(--text-placeholder-color);
}
#post-publisher-img {
  margin: 1rem 1rem 0 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}
.post-body h3 {
  margin: 1.5rem 1rem 0 1rem;
}
.post-body h4 {
  margin: 0.6rem 1rem;
  font-weight: normal;
}
#post-img {
  width: 100%;
  object-fit: cover;
  max-height: 28rem;
}

.post-footer {
  padding: 0 0.8rem 0 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: var(--text-placeholder-color);
}

.tags {
  display: flex;
  flex-direction: row;
}

.tags h5 {
  margin: 0.8rem 0.2rem 0 0.2rem;
  background-color: var(--main-color-white);
  color: var(--main-color-dark);
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
  font-weight: 600;
}
.comment-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0 1rem 0 0;
  margin: 0.4rem 0;
}

.comment-btn:hover {
  background-color: var(--bg-color);
}
.comment-btn h4 {
  margin: 0.8rem 0;
}
.post-footer i {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.comments-section {
  display: none;
  border-top: solid 2px var(--bg-color);
}
.comments-count {
  text-align: end;
  font-size: 0.8rem;
  padding: 0.4rem;
}
.users-comment {
  display: flex;
  flex-direction: row;
}
.users-comment-img {
  margin: 1rem 1rem 0 0.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
}

.users-comment-info {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.users-comment-info h3 {
  font-size: 0.8rem;
  margin: 0 0 0.4rem 0;
  color: black;
}
.users-comment-info p {
  font-size: 0.8rem;

  margin: 0;
  background-color: var(--bg-color);
  padding: 0.8rem;
  border-radius: 0.8rem;
  border-top-left-radius: 0;
  color: black;
}

.send-comment form {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  justify-content: space-between;
  padding: 0.4rem 0.4rem 1.2rem 0;
}
.btnSendComment {
  background-color: var(--main-color);
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
}
.btnSendComment:hover {
  background-color: var(--main-color-dark);
}
.btnSendComment img {
  width: 1.4rem;
  height: 1.4rem;
}
.sendCommentInput {
  padding: 0.2rem 0.8rem;
  border-radius: 0.8rem;
  border: none;
  width: 100%;
  margin: 0 0.6rem;
  background-color: var(--bg-color);
}

/* --------------- /Card Post --------------- */

/* <== RESPONSIVE ==> */
@media (max-width: 55rem) {
  .navlink-logo {
    font-size: 1.3rem;
  }
  .container {
    transition: 0.3s;
    width: 100vw;
  }

  #post-img {
    width: 100%;
    object-fit: cover;
    max-height: 22rem;
  }

  .nav {
    display: fixed;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    background-color: var(--bg-color2);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.134);
  }
  .nav-left {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.134);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
  }
  .drawer {
    display: inline;
  }

  /* element may be hidden when your  login or logout*/
  .navlink {
    display: block;
    margin: 0.8rem 3rem;
    padding: 0.5rem;
    width: fit-content;
    margin-top: -100%;
    font-size: 1.1rem;
  }

  .navlink-right {
    background-color: rgba(255, 255, 255, 0.678);
  }
}

/* ===================================== External Styles =====================================*/

#myLoader {
  /* margin: 1rem 0;
  margin: auto; */
  /* padding: auto; */
  /* display: flex;
  flex-direction: column;

  align-items: center; */
  width: fit-content;
  margin: auto;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid var(--main-color);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
