:root {
  --text-color: #080808;
  --text-placeholder-color: rgb(107, 107, 107);
  --main-color: rgb(0, 106, 255);
  --bg-color: rgb(243, 246, 248);
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.container {
  transition: 0.3s;
  background-color: var(--bg-color);
  /* background-color: rgb(243, 246, 248); */
  width: 54rem;
  height: 100vw;
  margin: auto;
}

/* <-- NAV --> */
.nav {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.134);

  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navlink-left {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: var(--text-placeholder-color);
  margin: 0 1rem;
}

.navlink-logo {
  transition: 0.3s;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: var(--text-color2);
  margin: 0 1rem;
}

.navlink-left:focus {
  color: var(--text-color);
}
.navlink-left:hover {
  color: var(--text-color);
}

.letter-blue {
  color: var(--main-color);
}

.navlink-right {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: var(--text-color);
  margin: 0 0.1rem;
  padding: 0.4rem;
  border: solid var(--main-color) 0.1rem;
  border-radius: 0.6rem;
}

.navlink-right:hover {
  box-shadow: 0 0 2px var(--main-color);
}

.navlink-right:active {
  border: solid transparent 0.1rem;
}

.drawer {
  font-size: 1rem;
  cursor: pointer;
  display: none;
}
#drawer {
  display: none;
}

/* -- Card Post -- */
.post {
  margin: 0 3rem;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.134);
}

.post:last-child {
  margin-bottom: 2rem;
}

.post-head {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.post-head-info {
  display: flex;
  flex-direction: column;
}

.post-head-info h3 {
  margin: 1rem 0 0.5rem 0;
}
.post-head-info p {
  margin: 0;
  color: var(--text-placeholder-color);
}
#post-publisher-img {
  margin: 1rem 1rem 0 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}
.post-body h3 {
  margin: 0.6rem 1rem;
}
.post-body h4 {
  margin: 0.6rem 1rem;
  font-weight: normal;
}
#post-img {
  width: 100%;
  object-fit: cover;
  max-height: 28rem;
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-placeholder-color);
}

.post-footer i {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

/* <== RESPONSIVE ==> */
@media (max-width: 55rem) {
  .nav {
    display: fixed;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    background-color: var(--bg-color);
    /* height: 100vh; */
  }
  .nav-left {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
  }
  .drawer {
    display: inline;
  }
  .navlink {
    display: block;
    margin: 0.8rem 2rem;
    padding: 0.5rem;
    width: fit-content;
    margin-top: -100%;
    font-size: 1.1rem;
  }

  .navlink-logo {
    font-size: 1.3rem;
  }
  .container {
    transition: 0.3s;
    width: 100vw;
  }

  #post-img {
    width: 100%;
    object-fit: cover;
    max-height: 22rem;
  }
}
